.mainFooter {
    margin-bottom: -17px; // TODO find out what causes Footer to have this weird gap from the bottom
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    color: rgb(126, 126, 126);
    background-color: #444;
    padding: 1rem;
    a {
        color: white;
        text-decoration: none;
        transition: 0.2s color;
    }

    a:hover {
        color: rgb(167, 167, 167);
    }
}
