.flexWrap {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;

    .entryInput {
        background-color: transparent;
        width: 100%;
        margin-right: 0.2rem;
        border: none;
        border-radius: 5px;
        outline: none;
        font-size: 0.8rem;
        padding: 0.25em;
        transition: box-shadow 0.2s;
        color: rgba(0, 0, 0, 0.7);
        &:focus {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) inset;
        }
        &:hover {
            color: black;
        }
    }

    .btnDelete {
        background-color: transparent;
        border: none;
        opacity: 0.5;
        transition: opacity 0.2s;
        outline: none;

        i {
            font-size: 1.2rem;
        }

        &:hover,
        &:active {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .flags {
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.6rem;
        i {
            margin-left: 0.1rem;
            &:hover {
                cursor: pointer;
            }
            &.warning {
                color: rgb(238, 238, 0);
            }
            &.error {
                color: darkorange;
            }
            &.severeError {
                color: red;
            }
            &.hidden {
                visibility: hidden;
            }
        }
    }
}

@media (min-width: 800px) {
    .flexWrap {
        .flags {
            i {
                font-size: 1.1rem;
                margin-left: 0.5rem;
            }
        }
        .btnDelete {
            margin-left: 0.5rem;
            i {
                font-size: 1.5rem;
            }
        }
        .entryInput {
            font-size: 1rem;
            margin-right: 0.5rem;
        }
    }
}
